.root {
  position: relative;
  font-size: 0.9rem;
}

.list {
  z-index: 42;
  position: absolute;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  top: var(--top, initial);
  right: var(--right, initial);
  bottom: var(--bottom, initial);
  left: var(--left, initial);

  max-height: 17vh;

  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  background: var(--background, hsl(0, 0%, 27%));
  color: var(--color, hsl(0, 0%, 93%));

  transition: opacity 200ms ease-out;
}

.listVisible {
  visibility: visible;
  opacity: 0.9;
}

.item {
  cursor: pointer;
  padding: 0 0.7em;

  transition: background 150ms ease-out;
}

.item:hover {
  background: hsl(0, 0%, 40%);
}

.itemDisabled {
  cursor: initial;

  color: var(--disabled, hsl(0, 0%, 53%));
}

.itemDisabled:hover {
  background: initial;
}
