@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600;700&family=Poppins:wght@200;300;400;600;700&display=swap");
@import-normalize;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;

  margin: 0;
  padding: 0;

  background: var(--background);
  color: var(--color);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
