.root {
  position: relative;

  display: grid;
  align-items: center;

  height: var(--app-height);
  width: 100%;

  padding: 2em;

  box-shadow: inset 0px -31vh 100px 0 var(--background),
    inset 0px 12vh 100px 0 var(--background);
}

.title {
  position: relative;

  text-align: center;
}

.mobileTitle {
  font-size: max(1.2rem, 3.9vw);
}

.desktopTitle {
  font-size: max(1rem, 3.4vw);
}

.firstSentence {
  margin-bottom: 0.2em;

  font-weight: 700;
}

.secondSentence {
  font-weight: 400;
}

.moveIndication {
  position: absolute;
  bottom: -20vh;
  left: 50%;
  transform: translateX(-50%);

  font-size: clamp(0.8rem, 0.45em, 1.4rem);
  font-weight: 300;
  letter-spacing: 0.2em;
}

.line {
  height: 1px;
  width: 2em;

  margin-left: 0.4em;

  background: var(--color);
}
