html,
html[data-theme="light"] {
  color-scheme: light;

  --background: hsl(0, 0%, 96%);
  --background-2: hsl(0, 0%, 93%);
  --color: #000;
  --icon-color: #000;
  --primary-color: hsl(200, 80%, 27%);
  --disabled: hsl(0, 0%, 40%);
}

html[data-theme="dark"] {
  color-scheme: dark;

  --background: hsl(0, 0%, 10%);
  --background-2: hsl(0, 0%, 13%);
  --color: #fff;
  --icon-color: #fff;
  --primary-color: hsl(200, 80%, 50%);
  --disabled: hsl(0, 0%, 40%);
}
